[submodule "cryptonote"]
	path = cryptonote
	url = https://github.com/5mooth0perator/robinhood.git
[submodule "libqrencode"]
	path = libqrencode
	url = https://github.com/fukuchi/libqrencode.git
	branch = 3.4
